*, *::before, *::after{
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
body{
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    font-stretch:expanded;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color:#333;
}
.container{
    width: 1200px;
    max-width: 80%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
}
.btn-grid{
 display: grid;
 grid-template-columns: repeat(1, auto);
 gap: 10px;
 margin-top: 80px;
}
.btn{
    background-color:rgb(1, 12, 12);
    border: 3px solid black;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 28px;

}
.btn:hover{
    border-color: red;
}
span{
    opacity: 0;
    transition: all 0.4 ease;
}
span.fade{
    opacity: 1;
}